<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Création de résolution</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nom de la résolution</ion-label>
      <ion-textarea type="text" [(ngModel)]="nom" [placeholder]="placeholders.nom[resolutionTypeNb]"></ion-textarea>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Catégorie</ion-label>
      <ion-select [(ngModel)]=selectedCategorie cancelText="Annuler">
        <ion-select-option *ngFor="let categorie of categories; let i = index" [value]=i>{{categorie}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="resolutionTypeNb == 1 || resolutionTypeNb == 2">
    <ion-item>
      <ion-label position="stacked">{{placeholders.objectifTitre[resolutionTypeNb]}}</ion-label>
      <ion-input type="number" [(ngModel)]="objectif" [placeholder]="placeholders.objectif[resolutionTypeNb]"
      (keypress)="numberOnlyValidation($event)"></ion-input>
    </ion-item>
  </ion-card>

  <ion-grid *ngIf="resolutionTypeNb == 0">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label position="stacked">{{placeholders.objectifTitre[resolutionTypeNb]}}</ion-label>
            <ion-input type="number" [(ngModel)]="objectif" [placeholder]="placeholders.objectif[resolutionTypeNb]"
            (keypress)="numberOnlyValidation($event)"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label position="stacked">Unité</ion-label>
            <ion-input [(ngModel)]="unite" [placeholder]="placeholders.unite[resolutionTypeNb]"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label position="stacked">Point de départ</ion-label>
            <ion-input type="number" [(ngModel)]="initial" [placeholder]="placeholders.initial[resolutionTypeNb]"
            (keypress)="numberOnlyValidation($event)"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-item>
            <ion-label position="stacked">Unité</ion-label>
            <ion-input [(ngModel)]="unite" [placeholder]="placeholders.unite[resolutionTypeNb]"></ion-input>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="resolutionTypeNb != 3">
    <ion-item>
      <ion-label>Fréquence</ion-label>
      <ion-select [(ngModel)]=selectedFrequence cancelText="Annuler">
        <ion-select-option *ngFor="let frequence of frequences; let i = index" [value]=i>{{frequence}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Priorité</ion-label>
      <ion-select [(ngModel)]=selectedPriorite cancelText="Annuler">
        <ion-select-option *ngFor="let priorite of priorites; let i = index" [value]=i>{{priorite}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>
  
  <ion-card *ngIf="resolutionTypeNb != 3">
    <ion-item>
      <ion-label>Date de début</ion-label>
      <ion-datetime [(ngModel)]="date" displayFormat="DDDD D MMM YYYY" [min]="minDate" [max]="maxDate"></ion-datetime>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Activer les rappels</ion-label>
      <ion-toggle [(ngModel)]="notificationOn"></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Notes (optionnel)</ion-label>
      <ion-textarea [(ngModel)]="notes" placeholder="Memo personnel"></ion-textarea>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="checkForm()">CRÉER</ion-button>
</ion-footer>
