<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Création groupe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item>
      <ion-label position="stacked">Nom du groupe</ion-label>
      <ion-input type="text" [(ngModel)]="nom" placeholder="Nom du groupe"></ion-input>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Catégorie</ion-label>
      <ion-select [(ngModel)]=selectedCategorie cancelText="Annuler">
        <ion-select-option *ngFor="let categorie of categories; let i = index" [value]=i>{{categorie}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Activer les notifications</ion-label>
      <ion-toggle [(ngModel)]="notificationOn"></ion-toggle>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>Ajouter des amis</ion-label>
      <ion-button slot="end" (click)="addFriend()"> + </ion-button>
    </ion-item>
    

    <ion-list *ngIf="nbAmi > 0">
      <ion-item *ngFor="let a of amiAjoute;">
        <ion-label>{{a.nom}}</ion-label>
        <ion-button color="danger" slot="end" (click)="delFriend(a)"> - </ion-button>
      </ion-item>
    </ion-list>

  </ion-card>

</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="checkForm()">CRÉER</ion-button>
</ion-footer>
