<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Origine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card (click)="explore()">
    <ion-card-header>
      <ion-card-title>
        Parcourir les résolutions existantes
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [routerLink]="['/choose-resolution-type']" (click)="addLog('Choix creation existante')">
    <ion-card-header>
      <ion-card-title>
        Créer une résolution
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
