<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      ZONE RÉSERVÉE AUX DEVS
    </ion-card-header>
  </ion-card>

  <ion-button color="danger" expand="block" (click)="resetResolutions()">Reset resolutions</ion-button>
  <ion-button color="danger" expand="block" (click)="resetGroups()">Reset groups</ion-button>
  <ion-button color="danger" expand="block" (click)="resetAll()">Reset all</ion-button>
  



</ion-content>
